version: "3.8"

services:
  timescaledb:
    image: timescale/timescaledb:latest-pg14
    container_name: timescaledb
    environment:
      - POSTGRES_USER=mf_user
      - POSTGRES_PASSWORD=mf_pass
      - POSTGRES_DB=mf_db
    ports:
      - "5432:5432"
    volumes:
      - timescale-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mf_user"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  timescale-data:
